/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);

.row{
	height: 1150px;
}

.project a{
	text-decoration: none;
}

.project #index_page,
.project #tempest,
.project #roman_road,
.project #calc_survey,
.project #countdown{
	width: 33.33333%;
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

#index_page #circle, 
#tempest #circle,
#roman_road #circle,
#calc_survey #circle,
#countdown #circle{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#index_page #circle {
   background-image: url("https://cloud.githubusercontent.com/assets/16964123/12688387/f820d65a-c6a3-11e5-837e-3d580badf1f0.jpg");
}

#tempest #circle {
   background-image: url("https://cloud.githubusercontent.com/assets/16964123/12688382/ec23a6fc-c6a3-11e5-920f-ec1a402d4057.jpg");
}

#roman_road #circle {
   background-image: url("https://cloud.githubusercontent.com/assets/16964123/12688381/e91eaa1a-c6a3-11e5-9014-4e0fe6af672a.jpg");
}

#calc_survey #circle {
   background-image: url("https://cloud.githubusercontent.com/assets/16964123/12688375/e03437b2-c6a3-11e5-8354-5da84fbd5d8e.jpg");
}

#countdown #circle{
   background-image: url("https://cloud.githubusercontent.com/assets/16964123/12688377/e41172be-c6a3-11e5-9f76-da814711b61d.jpg");
}

#circle p{
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
	line-height: 200px;
}

.details{
	background-color: #060d0f;
   height: 460px;
   text-align: center;
   margin: 0 0 22px;
   margin-top: -240px;
   padding: 30px 40px;
}

.details h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	margin-top: 280px;
	margin-bottom: 0px;
}

.details p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #888888;
}
