/* CSS Document */

/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css?family=Montserrat:);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
   width: 100%;
   margin: 0;
   font-size: 40%;
}

#background img
{
   width: 100%;
}

.h2_text
{
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   color: #dcdbdc;
   text-indent: 60px;
   margin-bottom: 20px;
   margin-top: 0;
}

.photo_banner
{
   width: 100%;
   height: 100px;
   border-top: 8px solid #ab2626;
   border-bottom: 5px solid #ab2626;
}

/*************************/
/*      NAVIGATION       */
/*************************/
#logo_banner
{
   width: 100%;
   background-color: #000;
   text-align: center;
   top: 0;
}

#logo_banner table
{
   border-spacing: 0;
   margin: 0 auto;
   padding: 20px 0;
}

#logo_banner h1
{
   font-family: 'Montserrat', sans-serif;
   font-size: 4vw;
   color: #FFF;
   margin: 0;
   text-align: center;
}

#logo_banner p
{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5vw;
   text-align: center;
   color: #ab2626;
   margin: 10px;
}

nav
{
   background-color: #300062;
   width: 100%;
   height: 50px;
}

nav table
{
   margin: 0 auto;
   width: 70%;
   border-collapse: collapse;
}

nav table td
{
	font-size: 35px;
   width: 20%;
   text-align: center;
   padding: 0;
}

nav a
{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   letter-spacing: -1px;
   line-height: 50px;
   text-decoration: none;
	white-space: nowrap;
	color: #bf9ee0;
	text-decoration: none;
	transition-property: color;
	transition-duration: .3s;
}

nav a:hover
{
	color: #FFF;  /* Add a hover affect? */
}


/*************************/
/*    ATTENTION GETTER   */
/*************************/
#attention
{
	background-image: url("images/summer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 125px 0;
   width: 100%;
   text-align: center;
}

#attention h2{
   font-family: 'Montserrat', sans-serif;
	font-size: 70px!important;
	color: #fff!important;
	margin-top: 0;
}

#attention p{
	font-size: 40px!important;
	color: #999!important;
	margin-bottom: 60px;
}

#attention a{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 20px;
	color: #300062;
	border-radius: 7px;
	border: 2px solid #300062;
	background-color: none;
	transition-property: background-color, color;
	transition-duration: .2s;
	text-decoration: none;
}

#attention a:hover{
	background-color: #300062;
	color: #FFF;
}

/*************************/
/*       ABOUT US        */
/*************************/
#about
{
   width: 100%;
   background-color: #300062;
}

#about h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: #FFF;
   margin: 20px 0;
}

#about p
{
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   color: #dcdbdc;
   text-indent: 60px;
   margin-bottom: 20px;
   margin-top: 0;
}

#about table
{
   margin: 0 auto;
   width: 90%;
}

#about_img
{
   width: 10%;
}

/*************************/
/*         MENU          */
/*************************/
#menu
{
   background-color: #743dc6;
   width: 100%;
   padding: 60px 0;
}

#menu table
{
   width: 80%;
   margin: 20px auto;
   color: #232323;
   background-color: #DCDCDC;
}

#menu h3
{
   font-family: 'Montserrat', sans-serif;
   font-size: 55px;
   font-weight: 400;
   letter-spacing: -2px;
   margin: 40px;
}

#menu p
{
   font-family: 'Crimson Text', serif;
   font-size: 20px;
   margin: 0 40px 40px 40px;
}

#menu .menu_img
{
   width: 30%;
   height: 100px;
}

#menu img
{
   height: 100px;
   background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*************************/
/*       FIND US         */
/*************************/
#find
{
   width: 100%;
   background-color: #300062;
   padding: 40px 0;
}

#find h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   text-align: center;
   color: #FFF;
   margin: 0 0 20px 0;
}

#address_hours
{
   width: 60%;
   margin: 0 auto;
}

#address_hours table
{
   display: inline-block;
   float: left;
   width: 50%;
}

#address_hours h4
{
   color: #FFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   margin: 10px 0;
}

#address_hours p
{
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   color: #bf9ee0;
}

#social_links
{
   margin: 0 auto;
}


#social_links td
{
   text-align: center;
   padding: 40px 20px 0 20px;
   width: 100px;
}

#social_links img
{
   width: 70px;
   height: 70px;
}

/*************************/
/*         MAP           */
/*************************/
#container
{
   width: 100%;
   text-align: center;
   height: 300px;
   border-top: 10px solid #ab2626;
   border-bottom: 10px solid #ab2626;
}

#map
{
   width: 100%;
   height: 300px;
   background-color: #000;
}

#get_direct
{
   top: -50px;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   color: #FFF;
   background-color: rgba(0,0,0,.7);
   position: relative;
   text-decoration: none;
   padding: 10px;
   margin: 0 auto;
}

#get_direct:hover
{
   background-color: rgba(48,0,98,.9);
}

/*************************/
/*      CONTACT US       */
/*************************/
#contact
{
   background-color: #743dc6;
   width: 100%;
   padding: 40px 0;
}

#contact h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   text-align: center;
   color: #FFF;
   margin: 10px 0 0 0;
}

#contact p
{
   font-family: 'Crimson Text', serif;
   font-size: 30px;
   color: #232323;
   text-align: center;
   margin: 20px 0 20px 0;
}

#contact table
{
   margin: 0 auto;
   border-spacing: 15px;
}

#contact label
{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   color: #232323;
}

.label_align
{
	text-align: right;
}

.mess_label
{
   vertical-align: top;
}

#contact input[type=text]
{
   height: 40px;
   background-color: #dcdbdc;
   border: 1px solid #474747;
   width: 400px;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: #232323;
   padding-left: 10px;
   
}

#contact textarea
{
   width: 396px;
   background-color: #dcdbdc;
   border: 1px solid #474747;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: #232323;
   padding: 10px;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;  
}

::-moz-placeholder {
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic; 
}

#contact input[type=submit]
{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 400;
   background-color: #232323;
   color: #FFF;
   width: 200px;
   padding:10px;
   border: none;
}

#contact input[type=submit]:hover
{
   background-color: #000;
}
/*************************/
/*        FOOTER         */
/*************************/
footer
{
	font-family: 'Montserrat', sans-serif;
   font-size: 20px;
	color: #ab2626;
   background-color: #000;
}

footer p
{
	margin: 0;
   padding-left: 5px;
	display: inline;
	
}

footer #comp_name
{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px!important;
   font-weight: 400;
	color: #FFF!important;
}



/*****************************/
/*       MOBILE STYLES       */
/*****************************/
@media screen and (max-width: 800px) 
{
   /*       ABOUT        */
	#about table
      {
      width: 95%;
   }
   
   #about p
      {
      font-size: 20px;
   }
   
   #menu table
      {
      width: 95%;
   }
   
   /*     FIND US      */
   #address_hours
      {
      width: 95%;
      display: block;
      float: none;
   }
   
   #address_hours table
      {
      margin: 0 auto;
      display: block;
      float: none;
      text-align: center;
   }
   
   /*     CONTACT      */
   
   
}

















