/* CSS Document */

/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css?family=Montserrat:);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
   width: 100%;
   margin: 0;
}

#background img
{
   width: 100%;
}

.h2_text
{
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   color: #dcdbdc;
   text-indent: 60px;
   margin-bottom: 20px;
   margin-top: 0;
}

.photo_banner
{
   width: 100%;
   height: 100px;
   border-top: 10px solid #ab2626;
   border-bottom: 10px solid #ab2626;
}

/*************************/
/*  BACK TO TOP BUTTON   */
/*************************/
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 5;
	right: 20px;
	bottom: 40px;
	background: #300062 url("images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
   border: 3px solid #FFF;
}

a.back-to-top:hover
{
   background-color: #743dc6;
}

/*************************/
/*      NAVIGATION       */
/*************************/
#logo_banner
{
   width: 100%;
   background-image: url("images/leopard_skin.jpg");
   text-align: center;
   top: 0;
}

#logo_banner div
{
   width:70%;
   border-spacing: 0;
   margin: 0 auto;
   padding: 20px 0;
   background-color: #000;
}

#logo_banner h1
{
   font-family: 'Montserrat', sans-serif;
   font-size: 60px;
   color: #FFF;
   margin: 0;
   text-align: center;
}

#logo_banner p
{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   text-align: center;
   color: #ab2626;
   margin: 10px;
}

nav
{
   background-color: #300062;
   width: 100%;
   height: 50px;
}

nav table
{
   margin: 0 auto;
   width: 70%;
   border-collapse: collapse;
}

nav table td
{
	font-size: 35px;
   width: 20%;
   text-align: center;
   padding: 0;
}

nav a
{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   letter-spacing: -1px;
   line-height: 50px;
   text-decoration: none;
	white-space: nowrap;
	color: #bf9ee0;
	text-decoration: none;
	transition-property: color;
	transition-duration: .3s;
}

nav a:hover
{
	color: #FFF;  /* Add a hover affect? */
}


/*************************/
/*    ATTENTION GETTER   */
/*************************/
#attention
{
	background-image: url("images/summer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 125px 0;
   width: 100%;
   text-align: center;
}

#attention h2{
   font-family: 'Montserrat', sans-serif;
	font-size: 70px!important;
	color: #fff!important;
	margin-top: 0;
}

#attention p{
	font-size: 40px!important;
	color: #999!important;
	margin-bottom: 60px;
}

#attention a{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 20px;
	color: #300062;
	border-radius: 7px;
	border: 2px solid #300062;
	background-color: none;
	transition-property: background-color, color;
	transition-duration: .2s;
	text-decoration: none;
}

#attention a:hover{
	background-color: #300062;
	color: #FFF;
}

/*************************/
/*       ABOUT US        */
/*************************/
#about
{
   width: 100%;
   background-color: #300062;
   padding: 60px 0;
}

#about_group
{
   width: 80%;
   margin: 0 auto;
}

#about h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   color: #FFF;
   margin: 20px 0;
}

#about p
{
   font-family: 'Crimson Text', serif;
   font-size: 30px;
   color: #dcdbdc;
   text-indent: 60px;
   margin-bottom: 20px;
   margin-top: 0;
   line-height: 38px;
}

#about_img img
{
   float: right;
   margin: 10px;
   width: 300px;
   height: 363px;
}

/*************************/
/*         MENU          */
/*************************/
#menu
{
   background-color: #743dc6;
   width: 100%;
   padding: 60px 0;
}

.row
{
   background-color: #DCDCDC;
   width: 80%;
   margin: 50px auto;
   padding: 40px;
}

.row div
{
   display: inline-block;
}

.item_image
{
   width: 40%;
   height: auto;
   overflow: hidden;
   background-size: cover;
   vertical-align: bottom;
   
}

.item_image img
{
   max-width: 100%;
   margin: 40px;
}

.item_text
{
   width: 55%;
   vertical-align: top;
}

#menu h3
{
   font-family: 'Montserrat', sans-serif;
   font-size: 55px;
   font-weight: 400;
   letter-spacing: -2px;
   margin: 40px;
}

#menu p
{
   font-family: 'Crimson Text', serif;
   font-size: 20px;
   margin: 0 0 0 40px;
}

/*************************/
/*       FIND US         */
/*************************/
#find
{
   width: 100%;
   background-color: #300062;
   padding: 40px 0;
}

#find h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   text-align: center;
   color: #FFF;
   margin: 0 0 40px 0;
}

#address_hours
{
   width: 60%;
   margin: 0 auto;
}

#address_hours div
{
   display: inline-block;
   float: left;
   width: 50%;
}

#address_hours h4
{
   color: #ab2626;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   margin: 10px 0;
}

#address_hours p
{
   font-family: 'Crimson Text', serif;
   font-size: 25px;
   color: #dcdbdc;
   margin: 0 0 40px 0;
}

#social_links
{
   margin: 0 auto;
}


#social_links td
{
   text-align: center;
   padding: 40px 20px 0 20px;
   width: 100px;
}

#social_links img
{
   width: 70px;
   height: 70px;
}

/*************************/
/*         MAP           */
/*************************/
#container
{
   width: 100%;
   text-align: center;
   height: 300px;
   border-top: 10px solid #ab2626;
   border-bottom: 10px solid #ab2626;
}

#map
{
   width: 100%;
   height: 300px;
   background-color: #000;
}

#get_direct
{
   top: -50px;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   color: #FFF;
   background-color: rgba(0,0,0,.7);
   position: relative;
   text-decoration: none;
   padding: 10px;
   margin: 0 auto;
}

#get_direct:hover
{
   background-color: rgba(48,0,98,.9);
}

/*************************/
/*      CONTACT US       */
/*************************/
#contact
{
   background-color: #743dc6;
   width: 100%;
   padding: 40px 0;
}

#contact h2
{
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
   font-weight: 700;
   text-align: center;
   color: #FFF;
   margin: 10px 0 0 0;
}

#contact p
{
   font-family: 'Crimson Text', serif;
   font-size: 30px;
   color: #232323;
   text-align: center;
   margin: 20px 0 20px 0;
}

#contact table
{
   margin: 0 auto;
   border-spacing: 15px;
}

#contact label
{
   font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   color: #131313;
}

.label_align
{
	text-align: right;
}

.mess_label
{
   vertical-align: top;
}

#contact input[type=text]
{
   height: 40px;
   background-color: #dcdbdc;
   border: 1px solid #474747;
   width: 400px;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: #232323;
   padding: 10px;
   
}

#contact textarea
{
   width: 400px;
   background-color: #dcdbdc;
   border: 1px solid #474747;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: #232323;
   padding: 10px;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {
   font-style: italic;  
}

::-moz-placeholder {
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-style: italic; 
}

#contact input[type=submit]
{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 400;
   background-color: #232323;
   color: #FFF;
   width: 200px;
   padding:10px;
   border: none;
}

#contact input[type=submit]:hover
{
   background-color: #000;
}
/*************************/
/*        FOOTER         */
/*************************/
footer
{
	font-family: 'Montserrat', sans-serif;
   font-size: 17px;
	color: #ab2626;
   background-color: #000;
}

footer p
{
	margin: 0;
   padding-left: 5px;
	display: inline;
	
}

footer #comp_name
{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px!important;
   font-weight: 400;
	color: #FFF!important;
}



/*****************************/
/*       MOBILE STYLES       */
/*****************************/
@media screen and (max-width: 1040px) 
{
   /*      NAVBAR        */
   #logo_banner h1
      {
      font-size: 47px;
   }
   
   #logo_banner p
      {
      font-size: 11px;
   }
   
   /*       ABOUT        */
	#about_img img
     {
      width: 386px;
      height: 467px;
   }
   
   #about p
      {
      font-size: 35px;
   }
   
   /*       MENU        */
   .row
      {
      width: 85%;
      text-align: center;
      padding-top: 80px;
   }
   
   .item_image
      {
      width: 90%;
      height: auto;
   }
   
   .item_image img
      {
      margin: 0;
   }
   
   .item_text
      {
      width: 80%;
      text-align: center;
   }
   
   #menu p
      {
      margin: 0;
      font-size: 35px;
   }
   
   #menu h3
      {
      font-size: 65px;
      margin: 40px 0;
   }
   /*     FIND US      */
   #address_hours
      {
      width: 95%;
      display: block;
      float: none;
   }
   
   #address_hours div
      {
      margin: 0 auto;
      display: block;
      float: none;
      text-align: center;
   }
   
   #address_hours h4
      {
      font-size: 40px;
   }
   
   #address_hours p
      {
      font-size: 35px;
   }
   
   #social_links td
      {
      padding: 40px 40px 0 40px;
   }
   
   #social_links img
      {
      width: 90px;
      height: 90px;
   }
   
   /*     CONTACT      */
   #contact table
      {
      border-spacing: 20px;
   }
   
   #contact p
      {
      font-size: 25px;
   }
   
   #contact label
      {
      font-size: 30px;
   }
   
   #contact input[type=text]
      {
      height: 45px;
      font-size: 25px;
   }
   
   #contact textarea
      {
      font-size: 25px;
   }
   
   /*      FOOTER      */
   footer
      {
      font-size: 8px;
      text-align: center;
   }
   
   footer #comp_name
      {
      font-size: 15px!important;
   }
}

















